.product {
    display: flex;
    flex-direction: column;
    padding: 10px;

    background-color: rgb(0, 0, 0);
}

.item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.id {
    font-size: 14px;
}