.productPage {
  position: relative;
}

.productPage__control {
  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background-color: rgba(255, 0, 0, 0.2);

  z-index: 1999;
}

.prodyctPage__pag {
  position: fixed;
  right: 0;
  bottom: 0;
}
